/* GENERAL  */
.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 40%;
  font-size: 32px;
}

.container__img {
  height: 300px;
  width: 300px;
  margin: auto;
  display: block;
}

.btn {
  background-color: white;
  padding: 12px 12px;
  border: 2px solid black;
  border-radius: 7px;
  font-weight: bold;
  font-size: 24px;
}

.btn:hover {
  background-color: rgb(255, 254, 239);
}

.btn-joke {
  background-color: white;
  padding: 12px 12px;
  border: 2px solid black;
  border-radius: 7px;
  font-size: 24px;
  margin-bottom: 12px;
}

.btn-joke:hover {
  background-color: rgba(200, 190, 102, 0.619);
}

/* RANDOM JOKE */
.random-joke {
  background-color: lightgrey;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

/* SEARCH A JOKE */
.search-joke {
  margin-top: 20px;
  background-color: lightgrey;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.input {
  padding: 12px 20px;
  margin: 8px 0;
  width: 50%;
  font-size: 24px;
  border-radius: 10px;
}
